$color-secondary-light:#ECECEC;
$color-light: #fff;
$color-primary: #005dad;
$color-secondary: #FFD632;
$color-dark: #4c4c4c;
$color-dark-alt: #909090;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$border-radius: 8px;